.additional-goods {
  width: 280px;
  padding: 0 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background-color: $basic-green;
    height: 2px;
    width: 90%;
    top: 15px;
    right: 0;
    margin-left: auto;
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;

    &::before {
      width: 100%;
      top: 23px;
    }
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding: 0;
  }
}

.additional-goods__title {
  color: $basic-black;
  font-weight: $font-weight;
  font-size: $font-size-24;
  line-height: $line-height-24;
  position: relative;
  width: 226px;
  margin: 0;
  padding: 0 20px 36px 0;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: $font-size-36;
    line-height: $line-height-36;
    width: 338px;
    padding: 0 36px;
    margin: 0 0 80px 0;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 76px 0 81px 70px;
    padding: 0 40px;
  }
}

.additional-goods__wrapper {
  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 896px 1fr;
    column-gap: 80px;
    margin-bottom: 86px;
  }
}

.additional-goods__inner {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
