.additional-card-table {
  width: 100%;
  margin: 0 0 15px 0;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin: auto 0 27px 0;
  }

  @media (min-width: $desktop-width) {
    width: 249px;
    margin: auto 37px auto 0;
  }
}

.additional-card-table__cell:first-child {
  float: left;
  padding: 0;
}

.additional-card-table__cell:last-child {
  float: right;
  padding: 0;
}

.additional-card-table__line {
  font-family: $font-family-arial;
  color: $copiryght-grey;
  font-size: $font-size-14;
  line-height: $line-height-14;
}
