.button {
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  color: $basic-white;
  background-color: $basic-green;
  font-size: $font-size-16;
  line-height: $line-height-20;
  padding: 8px 0;

  &--more {
    color: $copiryght-grey;
    background-color: $basic-grey;
    padding: 10px 0;
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size-16;
    line-height: $line-height-20;
    padding: 10px 24px;
  }
}

.button:hover {
  background-color: $hover-green;
}

.button:active {
  color: $active-white;
}

.button--more:hover {
  background-color: $border-card;
}

.button--more:active {
  color: $active-black;
}
