.button {
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  color: $basic-white;
  background-color: $basic-green;
  font-size: $font-size-16;
  line-height: $line-height-20;

  &--more {
    color: $copiryght-grey;
    background-color: $basic-grey;
  }

  @media (min-width: $tablet-width) {
    font-size: $font-size-20;
    line-height: $line-height-20;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-20;
    line-height: $line-height-20;
  }
}
