.card-more {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 0 50px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid $border-card;
    width: 100vw;
    top: 188px;
    left: 0;
    margin-left: calc(50% - 50vw);
  }

  @media (min-width: $tablet-width) {
    border: 2px solid $basic-grey;
    margin: 144px 0 0 0;

    &::after {
      display: none;
    }
  }
}

.card-more__title {
  color: $title-black;
  font-weight: $font-weight;
  font-size: $font-size-16;
  line-height: $line-height-20;
  text-transform: uppercase;
  margin: 59px 0 8px 2px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: $font-size-20;
    line-height: $line-height-22;
    margin: 0;
    padding: 159px 79px 24px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 158px 44px 24px 45px;
  }
}

.card-more__icon {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    top: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 60px;
    height: 60px;
    top: 49px;
  }
}

.card-more__text {
  font-family: $font-family-arial;
  color: $copiryght-grey;
  font-size: $font-size-12;
  line-height: $line-height-16;
  margin: 0 0 21px 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size-16;
    line-height: $line-height-18;
    padding: 0 76px 87px 77px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 30px 86px 30px;
  }
}

.card-more .button--more {
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    width: 249px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
  }
}
