.card {
  width: 280px;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 112px 40px;
  row-gap: 23px;
  margin: 0 0 50px 0;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid $border-card;
    width: 100%;
    top: 205px;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 324px;
    margin-top: 100px;
    padding: 0;
    row-gap: 0;
    background-color: $basic-grey;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.card__title {
  color: $label-radio-black;
  font-weight: $font-weight;
  font-size: $font-size-16;
  line-height: $line-height-20;
  text-transform: uppercase;
  margin: 0 40px 18px 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size-20;
    line-height: $line-height-24;
    margin: 0 auto;
    padding: 34px 0 21px 0;
    width: 154px;
  }

  @media (min-width: $tablet-width) {
    line-height: $line-height-21;
  }
}

.card-table {
  border-collapse: collapse;
  margin: 0;
}

.card-table__cell {
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 6px 0 6px 0;
  }
}

.card-table__line {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $border-grey;
  }
}

.card__info {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;

  @media (min-width: $tablet-width) {
    width: 247px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.card__picture {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;

  @media (min-width: $tablet-width) {
    margin: -45px auto 0 auto;
  }
}

.card__picture--position {
  @media (min-width: $tablet-width) {
    margin: -75px auto 0 auto;
  }
}

.card__img-small {
  @media (min-width: $desktop-width) {
    margin: -2px 0 0 0;
  }
}

.card__img-small--position {
  @media (min-width: $desktop-width) {
    margin: -3px 0 0 0;
  }
}

.card__img-big {
  @media (min-width: $tablet-width) {
    margin: -5px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.card__img-big--position {
  @media (min-width: $tablet-width) {
    margin: 3px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    margin: 6px 0 0 0;
  }
}

.card .button {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 248px;
    margin: 0 auto 40px auto;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
    margin: 28px auto 40px auto;
  }
}
