.card__title {
  color: $label-radio-black;
  font-weight: $font-weight;
  font-size: $font-size-16;
  line-height: $line-height-20;
  text-transform: uppercase;
}

.card-table__line {
  font-family: $font-family-arial;
  color: $copiryght-grey;
  font-size: $font-size-12;
  line-height: $line-height-16;
}
