.example {
  background-color: $dark-grey;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.example__wrapper {
  width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    background-color: $dark-grey;
    width: 610px;
    padding: 0 0 0 110px;
  }
}


.example__title {
  width: 280px;
  padding: 27px 20px 33px 20px;
  margin: 0;
  color: $basic-black;
  font-weight: $font-weight;
  font-size: $font-size-36;
  line-height: $line-height-40;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    font-size: $font-size-60;
    line-height: $line-height-60;
    margin: 43px 0 63px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    background-color: $basic-white;
    margin: 82px 0 76px 0;
  }
}

.example__text {
  font-family: $font-family-arial;
  color: $copiryght-grey;
  font-size: $font-size-14;
  line-height: $line-height-18;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size-16;
    line-height: $line-height-24;
    margin: 0 10px 54px 0;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin: 70px 0 69px 0;
  }
}

.example__wrapper-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    text-align: left;
  }
}

.example__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  margin: 25px 0 34px 0;
  gap: 42px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 366px;
    margin: 0 0 55px 0;
  }
}

.example__item {
  width: 122px;
  text-align: center;
  border: 1px solid $border-grey;
  border-radius: 5px;
  position: relative;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.example__item-title {
  color: $basic-black;
  font-weight: $font-weight;
  font-size: $font-size-24;
  line-height: $line-height-24;
  margin: 15px 0 17px 0;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size-30;
    line-height: $line-height-37;
  }
}

.example__item-text {
  font-family: $font-family-arial;
  color: $copiryght-grey;
  font-size: $font-size-12;
  line-height: $line-height-12;
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
  width: 77px;
  background-color: $dark-grey;
  text-align: center;
  text-transform: lowercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size-14;
    line-height: $line-height-14;
    background-color: $basic-white;
    width: 117px;
    top: 47px;
  }

  @media (min-width: $desktop-width) {
    background-color: $dark-grey;
    width: 117px;
    top: 47px;
  }
}

.example__item:last-child .example__item-text {
  @media (min-width: $tablet-width) {
    width: 140px;
  }
}

.example__expenses {
  color: $basic-black;
  font-size: $font-size-14;
  line-height: $line-height-20;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 42px 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size-20;
    line-height: $line-height-20;
    width: 180px;
    height: 40px;
    text-align: right;
    margin: auto 0;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
    text-align: left;
  }
}

.example__expenses .example__price {
  @media (min-width: $desktop-width) {
    margin: 0 0 0 63px;
  }
}

.example__slider {
  text-align: center;

  @media (min-width: $tablet-width) {
    background-color: $dark-grey;
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 610px;
    padding: 0 110px 0 0;
  }
}

.example__slider-wrapper {
  width: 228px;
  padding: 23px 0 25px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.example__slider-cat-fat {
  width: 100%;
}

.example__slider-button {
  color: $basic-black;
  background-color: inherit;
  font-size: $font-size-16;
  line-height: $line-height-20;
  text-transform: uppercase;
  list-style: none;
  border: none;
}
