.form {
  width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.form__fieldset {
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 40px 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.form__fieldset--data {
  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.form__fieldset--nutrition {
  margin-top: 46px;

  @media (min-width: $tablet-width) {
    margin-top: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto 0 auto 50px;
  }
}

.form__fieldset--contacts {
  @media (min-width: $tablet-width) {
    margin-top: 75px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

.form__fieldset--comment {
  margin-top: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.form-fieldset--additional {
  margin-top: 23px;

  @media (min-width: $desktop-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    margin-top: 0;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form__wrapper--contacts {
  @media (min-width: $desktop-width) {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

.form__input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    width: 60%;
  }
}

.form__input-wrapper:last-child {
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__input-wrapper-radio {
  @media (min-width: $tablet-width) {
    width: 45%;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.form__label {
  color: $copiryght-grey;
  font-size: $font-size-16;
  line-height: $line-height-18;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.form__input {
  border: 1px solid $placeholder-grey;
  flex-grow: 1;
  margin-left: 13px;
  padding: 13px 0 10px 14px;

  &::placeholder {
    color: $copiryght-grey;
    font-size: $font-size-16;
    line-height: $line-height-18;
    text-transform: uppercase;
    opacity: 1;
  }
}

.form__radio-input {
  @media (min-width: $tablet-width) {
    margin-left: 29px;
  }
}

.form__radio-label {
  color: $label-radio-black;
  font-size: $font-size-16;
  line-height: $line-height-18;
  text-transform: uppercase;
  margin-left: 45px;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }
}

.form__title {
  color: $basic-black;
  font-size: $font-size-24;
  line-height: $line-height-26;
  margin-bottom: 35px;
}

.form__textarea {
  border: 1px solid $placeholder-grey;
  width: 100%;

  &::placeholder {
    color: $copiryght-grey;
    font-size: $font-size-16;
    line-height: $line-height-18;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
    padding-top: 9px;
  }

  @media (min-width: $tablet-width) {
    width: auto;

    &::placeholder {
      text-align: left;
      padding-left: 19px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.form__checkbox-label {
  color: $basic-black;
  font-size: $font-size-16;
  line-height: $line-height-18;
  text-transform: uppercase;
  margin-left: 46px;

  @media (min-width: $tablet-width) {
    margin-right: 100px;
    margin-left: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 96px;
  }
}

.form__wrapper-button {
  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    margin: 54px 40px 72px 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 54px 0 72px 0;
  }
}

.form__button {
  color: $basic-white;
  background-color: $basic-green;
  border: none;
  font-size: $font-size-16;
  line-height: $line-height-20;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 38%;
  }

  @media (min-width: $desktop-width) {
    width: 45%;
  }
}

.form__input--mail {
  flex-grow: 1;
}

.form__wrapper--contacts .form__label:nth-child(2) {
  @media (min-width: $desktop-width) {
    margin-left: 50px;
  }
}

.form__text {
  font-family: $font-family-arial;
  color: $basic-black;
  font-size: $font-size-14;
  line-height: $line-height-16;
  text-align: center;
  margin: 21px 0 32px 0;

  @media (min-width: $tablet-width) {
    width: 40%;
  }
}

.form__radio-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}
