.main-nav {
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    width: auto;
    background-color: transparent;
  }
}

.main-nav--close .main-nav__list {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: auto;
    column-gap: 37px;
    margin: 42px 0 12px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 70px 0 12px 0;
  }
}

.main-nav__list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: auto;
    column-gap: 37px;
    margin: 42px 0 12px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 70px 0 12px 0;
  }
}

.main-nav__item {
  width: 280px;
  padding: 22px 20px 24px 20px;
  border-bottom: 1px solid $line-grey;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0;
    border: none;
  }
}

.main-nav__item:first-child {
  border-top: 1px solid $line-grey;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.main-nav__item:last-child {
  border: none;
}

.main-nav__item a {
  color: $basic-black;
  font-size: $font-size-20;
  line-height: $line-height-20;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: $font-size-18;
    line-height: $line-height-24;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-20;
    line-height: $line-height-30;
  }
}

.main-nav__item--active a {
  @media (min-width: $tablet-width) {
    padding: 0 0 8px 0;
    cursor: default;
    border-bottom: 2px solid $border-green;
  }

  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $basic-white;
  }
}

.main-nav__item--page a {
  @media (min-width: $desktop-width) {
    color: $basic-white;
  }
}

.main-nav__item:not(.main-nav__item--active) a:hover {
  opacity: 0.6;
}

.main-nav__item:not(.main-nav__item--active) a:active {
  opacity: 0.3;
}

.main-nav--nojs .main-nav__list {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: auto;
    column-gap: 37px;
    margin: 42px 0 12px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 70px 0 12px 0;
  }
}
