.main-nav {
  background-color: $basic-white;

  @media (min-width: $desktop-width) {
    display: block;
    background-color: transparent;
  }
}

.main-nav--close {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.main-nav__list {
  list-style: none;
  padding-left: 0;
  width: 280px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: 42px 0 5px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 69px 0 0 0;
  }
}

.main-nav__item {
  padding: 22px 0 24px 0;
  border-top: 1px solid $line-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.main-nav__item:last-child {
  padding: 22px 0 24px 0;
  border-top: 1px solid $line-grey;
  border-bottom: 1px solid $line-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.main-nav__item a {
  color: $basic-black;
  font-size: $font-size-20;
  line-height: $line-height-20;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: $font-size-18;
    line-height: $line-height-24;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-20;
    line-height: $line-height-30;
    color: $basic-white;
  }
}
