.originality__wrapper {
  width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    border-bottom: 1px solid $line-grey;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    border: none;
  }
}

.originality__list {
  list-style: none;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 150px;
    row-gap: 37px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 0;
  }
}

.originality__title {
  color: $basic-black;
  font-weight: $font-weight;
  font-size: $font-size-36;
  line-height: $line-height-40;
  margin: 27px 0 38px 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size-60;
    line-height: $line-height-60;
    margin: 45px 0 32px 0;
  }

  @media (min-width: $desktop-width) {
    margin: 71px 0 72px 0;
  }
}

.originality__item {
  font-family: $font-family-arial;
  color: $copiryght-grey;
  font-size: $font-size-14;
  line-height: $line-height-18;
  margin: 0 0 24px 80px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-16;
    line-height: $line-height-24;
    margin: 0;
    padding: 151px 5px 50px 0;
  }

  @media (min-width: $desktop-width) {
    width: 250px;
    padding: 151px 0 44px 0;
  }
}

.originality__item br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .originality__item--text:nth-child(1) {
    background-image: url("../img/content/one.svg");
    background-repeat: no-repeat;
    background-position: 127px 44px;
  }

  .originality__item--text:nth-child(2) {
    background-image: url("../img/content/two.svg");
    background-repeat: no-repeat;
    background-position: 120px 44px;
  }

  .originality__item--text:nth-child(3) {
    background-image: url("../img/content/tree.svg");
    background-repeat: no-repeat;
    background-position: 122px 35px;
  }

  .originality__item--text:nth-child(4) {
    background-image: url("../img/content/four.svg");
    background-repeat: no-repeat;
    background-position: 125px 40px;
  }
}

@media (min-width: $desktop-width) {
  .originality__item--text:nth-child(1) {
    background-image: url("../img/content/one.svg");
    background-repeat: no-repeat;
    background-position: 127px 44px;
  }

  .originality__item--text:nth-child(2) {
    background-image: url("../img/content/two.svg");
    background-repeat: no-repeat;
    background-position: 125px 35px;
  }

  .originality__item--text:nth-child(3) {
    background-image: url("../img/content/tree.svg");
    background-repeat: no-repeat;
    background-position: 122px 35px;
  }

  .originality__item--text:nth-child(4) {
    background-image: url("../img/content/four.svg");
    background-repeat: no-repeat;
    background-position: 125px 37px;
  }
}
