.originality__wrapper {
  width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.originality__list {
  list-style: none;
  padding-left: 0;

  @media (min-width: $tablet-width) {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
  }
}

.originality__title {
  color: $basic-black;
  font-weight: $font-weight;
  font-size: $font-size-36;
  line-height: $line-height-40;

  @media (min-width: $tablet-width) {
    font-size: $font-size-60;
    line-height: $line-height-60;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-60;
    line-height: $line-height-60;
  }
}

.originality__item {
  font-family: $font-family-arial;
  color: $copiryght-grey;
  font-size: $font-size-14;
  line-height: $line-height-18;
  margin-left: 80px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-16;
    line-height: $line-height-24;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-16;
    line-height: $line-height-24;
    margin-left: 0;
  }
}
