.page-header {
  width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 11px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.page-header__logo {
  margin: 0 0 17px 0;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
    margin: 24px 0 0 0;
  }
}
