.page-main__wrapper {
  width: 280;
  padding: 0 20px;
  border-top: 1px solid $line-grey;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

.page-main__title {
  color: $basic-black;
  font-weight: $font-weight;
  font-size: $font-size-36;
  line-height: $line-height-36;
  margin: 27px 0 60px 0;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-60;
    line-height: $line-height-60;
    margin: 62px 0 23px 0;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  @media (min-width: $desktop-width) {
    margin: 188px 0 22px 0;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

.page-main__cards .page-main__title {
  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.page-main__text {
  color: $basic-black;
  font-weight: $font-weight;
  font-size: $font-size-14;
  line-height: $line-height-18;
  text-transform: uppercase;
  width: 85%;
  margin: 0 0 39px 0;

  @media (min-width: $tablet-width) {
    font-size: $font-size-20;
    line-height: $line-height-30;
    width: 323px;
    margin: 0 0 66px 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 56px 0 66px 0;
  }
}

.page-main__cards {
  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    border: none;
    margin: 0 0 71px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
  }
}
