.page-main__title {
  color: $basic-black;
  font-weight: $font-weight;
  font-size: $font-size-36;
  line-height: $line-height-36;
}

.page-main__text {
  color: $basic-black;
  font-weight: $font-weight;
  font-size: $font-size-14;
  line-height: $line-height-18;
  text-transform: uppercase;
}
