.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  width: 280px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__dealers {
  background-color: $basic-white;
}

.page-footer__title {
  color: $title-black;
  text-transform: uppercase;
  font-weight: $font-weight;
  font-size: $font-size-16;
  line-height: $line-height-18;

  @media (min-width: $tablet-width) {
    font-size: $font-size-20;
    line-height: $line-height-21;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-16;
    line-height: $line-height-20;
  }
}

.page-footer__address {
  font-family: $font-family-arial;
  color: $copiryght-grey;
  font-style: normal;
  font-size: $font-size-14;
  line-height: $line-height-20;
}

.page-footer__map {
  width: auto;
}

.page-footer__logo {
  margin: 0 auto;
}

.page-footer__social .page-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.page-footer__list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.page-footer__social-link {
  fill: $social-grey;
}

.page-footer__link-academy-text {
  color: $copiryght-grey;
  text-decoration: none;
  font-size: $font-size-16;
  line-height: $line-height-18;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
}
