.programs__wrapper {
  width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.programs__item {
  background-color: $basic-grey;
}

.programs__item-title {
  color: $basic-black;
  font-weight: $font-weight;
  font-size: $font-size-24;
  line-height: $line-height-37;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: $font-size-36;
    line-height: $line-height-36;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-36;
    line-height: $line-height-36;
  }
}

.programs__item-text {
  font-family: $font-family-arial;
  color: $copiryght-grey;
  font-size: $font-size-14;
  line-height: $line-height-18;
  text-align: $text-align-left;

  @media (min-width: $tablet-width) {
    font-size: $font-size-16;
    line-height: $line-height-24;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-16;
    line-height: $line-height-24;
  }
}

.programs__list {
  list-style: none;
  padding-left: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item-link {
  text-decoration: none;
  color: $basic-black;
  text-transform: uppercase;
  font-size: $font-size-16;
  line-height: $line-height-16;

  @media (min-width: $tablet-width) {
    font-size: $font-size-20;
    line-height: $line-height-30;
  }

  @media (min-width: $desktop-width) {
    font-size: $font-size-20;
    line-height: $line-height-30;
  }
}
