.programs__wrapper {
  width: 280px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.programs__item {
  background-color: $basic-grey;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.programs__item-title {
  color: $basic-black;
  font-weight: $font-weight;
  font-size: $font-size-24;
  line-height: $line-height-37;
  text-transform: uppercase;
  padding: 30px 0 0 91px;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: $font-size-36;
    line-height: $line-height-36;
    padding: 77px 0 24px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 0 73px 214px;
  }
}

.programs__item .programs__item-title::before {
  content: "";
  position: absolute;
  background-color: $basic-green;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 24px;
  left: 21px;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    top: 82px;
    left: 450px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
}

.programs__item .programs__item-title::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: 36px 50px;
  width: 36px;
  height: 50px;
  top: 21px;
  left: 29px;

  @media (min-width: $tablet-width) {
    background-size: 140px 192px;
    width: 140px;
    height: 192px;
    top: 60px;
    left: 465px;
  }

  @media (min-width: $desktop-width) {
    background-size: 70px 97px;
    top: 41px;
    left: 67px;
  }
}

.programs__item:nth-child(2) .programs__item-title::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon/cat-pro.svg");
  background-repeat: no-repeat;
  background-size: 67px 28px;
  width: 67px;
  height: 28px;
  top: 35px;
  left: 11px;

  @media (min-width: $tablet-width) {
    background-size: 268px 112px;
    width: 268px;
    height: 112px;
    top: 130px;
    left: 415px;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 100px;
    top: 46px;
    left: 33px;
  }
}

.programs__item-text {
  font-family: $font-family-arial;
  color: $copiryght-grey;
  font-size: $font-size-14;
  line-height: $line-height-18;
  text-align: $text-align-left;
  padding: 29px 33px 38px 20px;
  margin: 0;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: $font-size-16;
    line-height: $line-height-24;
    padding: 0 279px 48px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 51px 23px 52px;
    width: 467px;
  }
}

.programs__item:last-child .programs__item-text {
  @media (min-width: $tablet-width) {
    padding: 0 315px 48px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 61px 23px 52px;
    width: 457px;
  }
}

.programs__item-text::after {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 20px;
  border-bottom: 1px solid $border-grey-line;
  width: 240px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.programs__list {
  list-style: none;
  padding-left: 0;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
}

.programs__item-link {
  display: inline-block;
  text-decoration: none;
  color: $basic-black;
  text-transform: uppercase;
  font-size: $font-size-16;
  line-height: $line-height-16;
  margin: 0 15px 18px 20px;

  @media (min-width: $tablet-width) {
    font-size: $font-size-20;
    line-height: $line-height-30;
    margin: 0 0 53px 52px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 55px 52px;
  }
}

.programs__item-link:active {
  opacity: 0.3;

  & + svg {
    opacity: 0.3;
  }
}

.programs__item-link + svg {
  position: absolute;
  top: 227px;
  left: 121px;

  @media (min-width: $tablet-width) {
    top: 291px;
    left: 180px;
  }

  @media (min-width: $desktop-width) {
    top: 291px;
    left: 180px;
  }
}
