.promo__text {
  font-family: $font-family-arial;
  color: $basic-white;
  font-size: $font-size-16;
  line-height: $line-height-20;
  background-image: url("../img/content/gift-photo-mobile.png");
  background-repeat: no-repeat;
  background-size: 280px 289px;
}
