.sentence {
  width: 280px;
  padding: 0 20px;
  background-image: url("../img/content/background-picture-green-mobile.png");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/background-picture-green-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    width: 708px;
    padding: 0 30px;
    background-image: none;
    margin: 0 0 540px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 110px;
    background-image: url("../img/content/background-picture-green-desktop.png");
    background-repeat: no-repeat;
    background-size: 720px 694px;
    background-position: top right;
    margin: 0;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/background-picture-green-desktop@2x.png");
    }
  }
}

.sentence__wrapper {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    position: relative;
    margin-bottom: 250px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 82px;
  }
}

.sentence__wrapper img {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 270px;
    left: 320px;
    transform: translateX(-50%);
    z-index: -1;
    padding: 0 0 3px 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 141px;
    left: 578px;
    transform: translateX(-130px);
    z-index: 1;
    width: 552px;
    height: 499px;
  }
}

.sentence__title {
  color: $basic-white;
  font-weight: $font-weight;
  font-size: $font-size-36;
  line-height: $line-height-36;
  padding: 27px 0 0 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    font-size: $font-size-60;
    line-height: $line-height-60;
    width: 414px;
    padding: 64px 0 41px 87px;
  }

  @media (min-width: $desktop-width) {
    color: $basic-black;
    font-size: $font-size-60;
    line-height: $line-height-60;
    padding: 223px 0 40px 80px;
  }
}

.sentence__text {
  color: $basic-white;
  font-weight: $font-weight;
  font-size: $font-size-14;
  line-height: $line-height-14;
  text-transform: uppercase;
  margin: 0;
  padding: 25px 0 29px 0;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    font-weight: $font-weight;
    font-size: $font-size-20;
    line-height: $line-height-20;
    padding: 0 0 49px 87px;
  }

  @media (min-width: $desktop-width) {
    color: $basic-black;
    font-weight: $font-weight;
    font-size: $font-size-20;
    line-height: $line-height-20;
    padding: 0 0 52px 80px;
  }
}

.sentence__button-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    display: block;
    margin: 20px 0 0 87px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 185px 80px;
  }
}
